.btn-outline-gray-400 {
  color: $gray-500;

  &:active,
  &:focus,
  &:hover {
    color: $primary-700 !important;
    background-color: $primary-100 !important;
  }
}

.btn-secondary {
  &:active,
  &:focus,
  &:hover {
    background-color: $secondary-500 !important;
  }
}
