.modal-header {
  position: relative;
  padding: 24px 24px;

  .btn-close {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  @include media-breakpoint-up(sm) {
    padding: 24px 48px;
  }
}

.modal-body {
  padding: 16px 24px 24px;

  @include media-breakpoint-up(sm) {
    padding: 16px 48px 24px;
  }
}

.modal-footer {
  padding: 32px 24px 24px;

  @include media-breakpoint-up(sm) {
    padding: 32px 48px 24px;
  }
}
