<footer class="bg-gray-0 py-16">
  <div class="container">
    <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center mb-8">
      <!-- 標題 -->
      <div class="text-center text-md-start mb-8 mb-md-0">
        <a href="../pages/index.html" class="mb-4 mb-md-2">
          <img src="/assets/images/logo-with-text.svg" alt="logo" />
        </a>
        <p class="text-primary fw-bold fs-s">把靈感放進卡片盒，慢慢長成知識的森林。</p>
      </div>
      <!-- 導覽連結 -->
      <ul class="nav flex-column flex-md-row align-items-center gap-3">
        <li class="nav-item">
          <a class="nav-link" href="../pages/index.html">首頁</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../pages/features.html">產品介紹</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../pages/subscription/detail.html">訂閱方案</a>
        </li>
      </ul>
    </div>
    <!-- 社群連結, copyright -->
    <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center gap-6">
      <ul class="community-list list-unstyled d-flex gap-8 mb-0">
        <li>
          <a href="#" class="community-link"><img src="/assets/images/facebook.svg" alt="facebook" /></a>
        </li>
        <li>
          <a href="#" class="community-link"><img src="/assets/images/Instagram.svg" alt="Instagram" /></a>
        </li>
        <li>
          <a href="#" class="community-link"><img src="/assets/images/twitter.svg" alt="twitter" /></a>
        </li>
        <li>
          <a href="#" class="community-link"><img src="/assets/images/email.svg" alt="email" /></a>
        </li>
      </ul>
      <p class="text-gray-500">©2025 Cardle All Rights Reserved.</p>
    </div>
  </div>
</footer>
