.logo {
  display: block;
  width: 159.13px;
  height: 40px;
  background: url('/assets/images/logo-with-text.svg') center / cover no-repeat;
  text-indent: 101%;
  word-wrap: nowrap;
  overflow: hidden;
}

.header-navbar {
  width: 100%;
  z-index: 1041;

  .navbar-toggler {
    &:hover,
    &:focus-visible,
    &:focus,
    &:active {
      background-color: $primary-100;
    }
    &-icon {
      width: 1.5rem;
      height: 1.5rem;
    }
    &[data-bs-target='#userNavbar'] {
      --bs-focus-ring-color: #{$primary-100};
    }
  }
  &:has(~ #headerNavbar.show) {
    [data-bs-target='#headerNavbar'] {
      background-color: $primary-100;
    }
  }
  &:has(~ #userNavbar.show) {
    [data-bs-target='#userNavbar'] {
      box-shadow: 0 0 0 var(--bs-focus-ring-width) var(--bs-focus-ring-color);
    }
  }

  .header-avatar {
    width: 40px;
    height: 40px;
    @include media-breakpoint-up(md) {
      width: 32px;
      height: 32px;
    }
  }

  .dropdown-toggle::after {
    content: unset;
  }
  .dropdown .nav-link {
    &:hover,
    &:active,
    &.show {
      background-color: $primary-100;
    }
  }
}

// 登入後狀態
.header-navbar,
.header-offcanvas {
  .login-show,
  .user-show {
    display: none;
  }
  &.login-state {
    .login-none {
      display: none !important;
    }
    .login-show {
      display: block;
    }
  }
  &.user-state {
    .user-none {
      display: none !important;
    }
    .user-show {
      display: block;
      .dropdown-menu.show {
        display: flex;
      }
    }
  }
  &.user-state,
  &.login-state {
    @include media-breakpoint-up(md) {
      .both-state-md-none {
        display: none !important;
      }
    }
  }
}

.header-offcanvas.offcanvas {
  height: calc(100% - 73px);
  top: unset;
  bottom: 0;
  width: 200px;
}

.offcanvas {
  --bs-navbar-color: #{$primary-700};
  --bs-navbar-hover-color: #{$primary-600};
  --bs-navbar-disabled-color: #{$gray-200};
  --bs-navbar-active-color: #{$primary-600};
  .nav-link {
    &:hover {
      background-color: $primary-100;
    }
  }
  .btn-primary {
    --bs-btn-hover-color: #{$primary-600};
  }
  .btn-outline-primary {
    --bs-btn-hover-color: #{$primary-600};
    --bs-btn-hover-bg: #{$primary-100};
    --bs-btn-active-border-color: #{$primary-800};
  }
}

.dropdown-shadow {
  box-shadow:
    0px 8px 16px -2px rgba(27, 36, 44, 0.12),
    0px 2px 2px -1px rgba(27, 35, 44, 0.04);
}
