<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cardle</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <!-- 導覽列 -->
    <%- include('./layout/header'); -%>
    <main class="d-md-flex">
      <section class="login-banner w-md-40">
        <img class="" src="/assets/images/login-banner.png" alt="login-banner.png" />
      </section>
      <div class="container-fluid w-md-60">
        <div class="row">
          <section class="col-9 col-md-10 col-xl-8 mx-auto py-16 px-3 px-md-15">
            <h1 class="fs-3xl fs-md-4xl mb-4">登入</h1>
            <p class="fw-medium mb-6 mb-md-10">歡迎回來，請輸入您的帳號及密碼。</p>
            <form class="was-validated" id="login-form">
              <div class="mb-4">
                <label for="email" class="form-label">帳號</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="請輸入帳號"
                  value="fakemail@mail.com"
                  required
                />
                <div class="invalid-feedback">請輸入註冊時使用的信箱</div>
              </div>
              <div class="mb-4">
                <label for="password" class="form-label">密碼</label>
                <input
                  type="password"
                  placeholder="請輸入密碼"
                  class="form-control"
                  id="password"
                  value="123456"
                  required
                />
                <div class="invalid-feedback">請輸入密碼</div>
              </div>
              <button type="submit" class="btn btn-primary w-100 mt-10 mb-4">登入</button>
              <p>
                新會員？<a class="link-primary ms-2 text-decoration-underline" href="<%= HERF_BASE %>sing-up.html"
                  >註冊</a
                >
              </p>
            </form>
          </section>
        </div>
      </div>
    </main>
    <!-- 頁尾 -->
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>

    <script type="module">
      const loginForm = document.querySelector('#login-form');

      loginForm.addEventListener('submit', (event) => {
        event.preventDefault();
        localStorage.setItem('isLogin', 'true');
        window.location.href = '<%= HERF_BASE %>user/dashboard.html';
      });
    </script>
  </body>
</html>
