$utilities: map-merge(
  $utilities,
  (
    'font-size': map-merge(
        map-get($utilities, 'font-size'),
        (
          responsive: true,
        )
      ),
    'rounded': map-merge(
        map-get($utilities, 'rounded'),
        (
          responsive: true,
        )
      ),
    'line-height': map-merge(
        map-get($utilities, 'line-height'),
        (
          responsive: true,
        )
      ),
    'font-weight': map-merge(
        map-get($utilities, 'font-weight'),
        (
          responsive: true,
        )
      ),
  )
);

.material-symbols-outlined.fill {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.font-Manrope {
  font-family: 'Manrope', 'sans-serif';
}
